/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-page-main-ui {
  background: #f0f9fe; }
  .zmiti-page-main-ui.page6 {
    background: none; }
    .zmiti-page-main-ui.page6:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(45deg, #e11e3f, #fda93e);
      background-image: -webkit-linear-gradient(45deg, #e11e3f, #fda93e); }
    .zmiti-page-main-ui.page6 .zmiti-title {
      display: none; }
  .zmiti-page-main-ui.page7 {
    color: #fdf5c3; }
    .zmiti-page-main-ui.page7 ul li {
      background: #f9504f !important; }
    .zmiti-page-main-ui.page7:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: -webkit-linear-gradient(top, #ed3c43, #e23052); }
    .zmiti-page-main-ui.page7 .zmiti-pagation {
      display: none; }
    .zmiti-page-main-ui.page7 h1 {
      display: none; }
    .zmiti-page-main-ui.page7 .zmiti-title:before {
      content: "";
      background-image: -webkit-linear-gradient(45deg, #ec3840, #f25253); }
    .zmiti-page-main-ui.page7 .zmiti-title img {
      width: 5rem; }
  .zmiti-page-main-ui .zmiti-title {
    width: 8rem;
    height: 4rem;
    padding-left: 1rem;
    position: relative; }
    .zmiti-page-main-ui .zmiti-title.page5 {
      color: #fff6bc; }
      .zmiti-page-main-ui .zmiti-title.page5:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        background: #f04b4e; }
      .zmiti-page-main-ui .zmiti-title.page5 > h1:before {
        background: #fff6bc; }
    .zmiti-page-main-ui .zmiti-title:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      background: -webkit-linear-gradient(left, #f0f9fe, #e2f2ff); }
    .zmiti-page-main-ui .zmiti-title > h1 {
      width: 6rem;
      height: 2.5rem;
      line-height: 1.6rem;
      position: relative; }
      .zmiti-page-main-ui .zmiti-title > h1:before {
        content: "";
        left: 0;
        bottom: .5rem;
        width: .6rem;
        height: 4px;
        background: #000;
        position: absolute; }
    .zmiti-page-main-ui .zmiti-title > div {
      position: relative;
      z-index: 1;
      width: 7rem;
      font-size: .4rem; }
  .zmiti-page-main-ui .zmiti-pager {
    width: 3rem;
    position: absolute;
    top: 0;
    right: 0; }
    .zmiti-page-main-ui .zmiti-pager > span {
      position: absolute;
      left: 1.8rem;
      top: .7rem; }
  .zmiti-page-main-ui .zmiti-page1-img {
    width: 10rem;
    bottom: 2rem;
    position: absolute;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-page-main-ui .zmiti-page1-img > div {
      -webkit-transform: translate3d(0, 1rem, 0);
      transform: translate3d(0, 1rem, 0);
      opacity: 0;
      -webkit-transition: 1s;
      transition: 1s; }
      .zmiti-page-main-ui .zmiti-page1-img > div.show {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
  .zmiti-page-main-ui .zmiti-page2-img {
    position: absolute;
    width: 10rem;
    bottom: 3rem; }
    .zmiti-page-main-ui .zmiti-page2-img:before {
      content: '......';
      position: absolute;
      left: 50%;
      font-size: 1rem;
      color: #000;
      bottom: 0;
      -webkit-transform: translate3d(-50%, 0%, 0);
      transform: translate3d(-50%, 0%, 0);
      opacity: 0;
      -webkit-transition: 0.5s 1s;
      transition: 0.5s 1s; }
    .zmiti-page-main-ui .zmiti-page2-img img {
      width: 9rem;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate3d(-50%, 0%, 0);
      transform: translate3d(-50%, 0%, 0);
      opacity: 0; }
    .zmiti-page-main-ui .zmiti-page2-img.show:before {
      opacity: 1; }
    .zmiti-page-main-ui .zmiti-page2-img.show img {
      -webkit-transition: 1s;
      transition: 1s;
      opacity: 1;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
      .zmiti-page-main-ui .zmiti-page2-img.show img:nth-of-type(1) {
        -webkit-transition: 1s 0.4s;
        transition: 1s 0.4s; }
  .zmiti-page-main-ui .zmiti-page3-img > div {
    position: relative;
    -webkit-transform: translate3d(0, 1rem, 0);
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s; }
    .zmiti-page-main-ui .zmiti-page3-img > div.show {
      opacity: 1;
      -webkit-transform: translate3d(0, -0.5rem, 0);
      transform: translate3d(0, -0.5rem, 0); }
    .zmiti-page-main-ui .zmiti-page3-img > div > span {
      position: absolute;
      bottom: 1.9rem;
      font-size: .5rem; }
      .zmiti-page-main-ui .zmiti-page3-img > div > span:nth-of-type(1) {
        left: 2.7rem;
        color: #20c077; }
      .zmiti-page-main-ui .zmiti-page3-img > div > span:nth-of-type(2) {
        right: 1.3rem;
        color: #ee8a4e; }
  .zmiti-page-main-ui .zmiti-page4-img ol {
    width: 9rem;
    margin: 0 auto; }
    .zmiti-page-main-ui .zmiti-page4-img ol.show li {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
    .zmiti-page-main-ui .zmiti-page4-img ol li {
      -webkit-transform: translate3d(2rem, 0, 0);
      transform: translate3d(2rem, 0, 0);
      opacity: 0;
      -webkit-transition: 0.6s;
      transition: 0.6s; }
      .zmiti-page-main-ui .zmiti-page4-img ol li:nth-of-type(2) {
        -webkit-transition: 0.6s 0.4s;
        transition: 0.6s 0.4s; }
      .zmiti-page-main-ui .zmiti-page4-img ol li:nth-of-type(3) {
        -webkit-transition: 0.6s 0.8s;
        transition: 0.6s 0.8s; }
      .zmiti-page-main-ui .zmiti-page4-img ol li:nth-of-type(4) {
        -webkit-transition: 0.6s 1.2s;
        transition: 0.6s 1.2s; }
      .zmiti-page-main-ui .zmiti-page4-img ol li:nth-of-type(5) {
        -webkit-transition: 0.6s 1.6s;
        transition: 0.6s 1.6s; }
      .zmiti-page-main-ui .zmiti-page4-img ol li:nth-of-type(6) {
        -webkit-transition: 0.6s 2s;
        transition: 0.6s 2s; }
  .zmiti-page-main-ui .zmiti-page5-img > div.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .zmiti-page-main-ui .zmiti-page5-img .zmiti-point {
    opacity: 0; }
  .zmiti-page-main-ui .zmiti-page5-img .zmiti-btn {
    color: #fff6bc;
    text-align: center;
    position: relative;
    height: .8rem;
    top: .3rem;
    line-height: .8rem; }
    .zmiti-page-main-ui .zmiti-page5-img .zmiti-btn:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(255, 246, 188, 0.1);
      box-shadow: 0 0 20px rgba(0, 9, 0, 0.1); }
  .zmiti-page-main-ui .zmiti-page5-img .zmiti-letter-C {
    position: relative; }
    .zmiti-page-main-ui .zmiti-page5-img .zmiti-letter-C ol {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      .zmiti-page-main-ui .zmiti-page5-img .zmiti-letter-C ol li {
        box-sizing: border-box;
        width: 2.6rem;
        height: 2.3rem;
        float: left; }
  .zmiti-page-main-ui .zmiti-page5-img img {
    width: 7.8rem;
    display: block; }
  .zmiti-page-main-ui .zmiti-page6-img > div {
    width: 7rem;
    height: 100%;
    position: relative;
    top: -1rem; }
    .zmiti-page-main-ui .zmiti-page6-img > div.show img {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .zmiti-page-main-ui .zmiti-page6-img > div img {
      -webkit-transform: translate3d(-2rem, 1rem, 0);
      transform: translate3d(-2rem, 1rem, 0);
      opacity: 0;
      -webkit-transition: 1s;
      transition: 1s; }
      .zmiti-page-main-ui .zmiti-page6-img > div img:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0; }
      .zmiti-page-main-ui .zmiti-page6-img > div img:nth-of-type(2) {
        -webkit-transition: 1s 0.4s;
        transition: 1s 0.4s; }
  .zmiti-page-main-ui .zmiti-page7-img {
    bottom: 0;
    box-sizing: border-box; }
    .zmiti-page-main-ui .zmiti-page7-img ul {
      margin-top: 1.5rem;
      width: 8rem;
      float: right; }
      .zmiti-page-main-ui .zmiti-page7-img ul.show li {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1; }
      .zmiti-page-main-ui .zmiti-page7-img ul li {
        -webkit-transform: translate3d(2rem, 0, 0);
        transform: translate3d(2rem, 0, 0);
        opacity: 0;
        -webkit-transition: 0.6s;
        transition: 0.6s;
        width: 100%;
        background: #fff;
        height: 1.3rem;
        line-height: 1.3rem;
        margin: .5rem 0;
        text-indent: 2em;
        position: relative; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:nth-of-type(2) {
          -webkit-transition: 0.6s 0.4s;
          transition: 0.6s 0.4s; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:nth-of-type(3) {
          -webkit-transition: 0.6s 0.8s;
          transition: 0.6s 0.8s; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:nth-of-type(4) {
          -webkit-transition: 0.6s 1.2s;
          transition: 0.6s 1.2s; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:nth-of-type(5) {
          -webkit-transition: 0.6s 1.6s;
          transition: 0.6s 1.6s; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:nth-of-type(6) {
          -webkit-transition: 0.6s 2s;
          transition: 0.6s 2s; }
        .zmiti-page-main-ui .zmiti-page7-img ul li:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
        .zmiti-page-main-ui .zmiti-page7-img ul li span {
          font-size: .5rem;
          font-weight: bold;
          margin-right: .7rem; }
        .zmiti-page-main-ui .zmiti-page7-img ul li label {
          font-size: .5rem; }
    .zmiti-page-main-ui .zmiti-page7-img .zmiti-wish {
      font-size: 12px;
      color: #fdf5c3;
      position: absolute;
      width: 100%;
      bottom: 2rem;
      text-align: center; }
    .zmiti-page-main-ui .zmiti-page7-img .zmiti-share-btn {
      background: #fdf5c3;
      width: 8rem;
      border-radius: 1rem;
      position: absolute;
      left: 1rem;
      bottom: .4rem;
      font-size: .5rem;
      color: #ec3a3f;
      text-align: center;
      height: 1.2rem;
      line-height: 1.2rem; }
  .zmiti-page-main-ui .zmiti-pagation {
    width: 10rem;
    height: 2rem;
    background: #f0f9fe;
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify; }
    .zmiti-page-main-ui .zmiti-pagation > div {
      width: 2rem; }
      .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(1), .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(3) {
        border: 1px solid #000;
        border-radius: 10px;
        height: .7rem;
        line-height: .7rem; }
        .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(1).disabled, .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(3).disabled {
          border-color: #dbe1e8;
          color: #dbe1e8; }
      .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(1) {
        margin-left: -.4rem;
        text-align: right;
        padding-right: .4rem; }
      .zmiti-page-main-ui .zmiti-pagation > div:nth-of-type(3) {
        margin-right: -.4rem;
        padding-left: .4rem; }

.zmiti-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  text-align: right; }
  .zmiti-mask img {
    width: 5rem; }

.zmiti-img-C {
  z-index: 1333;
  background: black;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .zmiti-img-C img {
    display: block; }

.zmiti-progress {
  width: 100%;
  height: 2px;
  background: #e4253f;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
  transform-origin: left; }

/*# sourceMappingURL=page.css.map */
